<nav class="bg-gradient-to-r from-purple-500 to-indigo-600 shadow-lg">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-4">
      <a
        routerLink="/inicio"
        class="text-white font-bold text-xl hover:text-yellow-300 transition duration-300"
      >
        <span class="mr-2">🍹</span>CocktailHub
      </a>
      <div class="hidden md:flex space-x-4">
        <a
          routerLink="/margarita"
          class="text-white hover:text-yellow-300 transition duration-300"
          >Margarita</a
        >
        <a
          routerLink="/vod"
          class="text-white hover:text-yellow-300 transition duration-300"
          >Vodka</a
        >
        <a
          routerLink="/tequila"
          class="text-white hover:text-yellow-300 transition duration-300"
          >Tequila</a
        >
        <a
          routerLink="/vino"
          class="text-white hover:text-yellow-300 transition duration-300"
          >Vino</a
        >
      </div>
      <button class="md:hidden text-white focus:outline-none">
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state -->
  <div class="md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a
        routerLink="/margarita"
        class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-indigo-700 transition duration-300"
        >Margarita</a
      >
      <a
        routerLink="/vod"
        class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-indigo-700 transition duration-300"
        >Vodka</a
      >
      <a
        routerLink="/tequila"
        class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-indigo-700 transition duration-300"
        >Tequila</a
      >
      <a
        routerLink="/vino"
        class="text-white block px-3 py-2 rounded-md text-base font-medium hover:bg-indigo-700 transition duration-300"
        >Vino</a
      >
    </div>
  </div>
</nav>

<div class="container mx-auto mt-8 px-4">
  <router-outlet></router-outlet>
</div>
<!-- <section>

  @for (Cocteles of cocteles; track $index) {
  <div class="card">
    <h2>{{ Cocteles.strDrink }}</h2>
    <h3>Categoria: {{ Cocteles.strCategory }}</h3>
    <hr />
    <p>{{ Cocteles.strInstructions }}</p>
    <li>{{ Cocteles.strIngredient1 }}</li>
    <li>{{ Cocteles.strIngredient2 }}</li>
    <img src="{{ Cocteles.strDrinkThumb }}" alt="{{ Cocteles.strDrink }}" />
  </div>

  }
</section>
 -->
