<nav class="navbar">
    <div class="container">
        <a routerLink="/inicio" class="brand">Inicio</a>
        <ul class="nav-links">
            <li><a routerLink="/margarita">Margarita</a></li>
            <li><a routerLink="/vod">Vodka</a></li>
            <li><a routerLink="/tequila">Tequila</a></li>
            <li><a routerLink="/vino">Vino</a></li>
        </ul>
    </div>
</nav>
<br />
<br />
<br />
<div class="center">
    <router-outlet></router-outlet>
</div>
<!-- <section>

  @for (Cocteles of cocteles; track $index) {
  <div class="card">
    <h2>{{ Cocteles.strDrink }}</h2>
    <h3>Categoria: {{ Cocteles.strCategory }}</h3>
    <hr />
    <p>{{ Cocteles.strInstructions }}</p>
    <li>{{ Cocteles.strIngredient1 }}</li>
    <li>{{ Cocteles.strIngredient2 }}</li>
    <img src="{{ Cocteles.strDrinkThumb }}" alt="{{ Cocteles.strDrink }}" />
  </div>

  }
</section>
 -->