<section class="container mx-auto px-4 py-8 bg-gray-100">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    @for (item of data; track item.idDrink) {
    <div
      class="bg-white rounded-xl shadow-xl overflow-hidden transition-all duration-300 hover:shadow-2xl hover:scale-105"
    >
      <div class="relative">
        <img
          [src]="item.strDrinkThumb"
          [alt]="item.strDrink"
          class="w-full h-56 object-cover"
        />
        <div
          class="absolute top-0 right-0 bg-blue-500 text-white px-3 py-1 rounded-bl-lg font-semibold"
        >
          {{ item.strAlcoholic }}
        </div>
      </div>
      <div class="p-6">
        <h2 class="text-2xl font-bold mb-2 text-gray-800">
          {{ item.strDrink }}
        </h2>
        <h3 class="text-sm font-semibold text-gray-600 mb-4">
          Categoría: {{ item.strCategory }}
        </h3>
        <hr class="mb-4 border-gray-200" />
        <p class="text-gray-700 mb-4 line-clamp-3">
          {{ item.strInstructions }}
        </p>
        <div class="mb-4">
          <h4 class="font-semibold text-gray-800 mb-2">Ingredientes:</h4>
          <ul class="list-disc list-inside text-gray-600">
            @for (ingredient of getIngredients(item); track ingredient) {
            <li>{{ ingredient }}</li>
            }
          </ul>
        </div>
        <button
          (click)="showDetails(item)"
          class="w-full bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 transform hover:-translate-y-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Ver Detalles
        </button>
      </div>
    </div>
    }
  </div>
</section>

@if (selectedDrink) {
<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white rounded-lg p-8 max-w-2xl w-full mx-4">
    <h2 class="text-3xl font-bold mb-4">{{ selectedDrink.strDrink }}</h2>
    <img
      [src]="selectedDrink.strDrinkThumb"
      [alt]="selectedDrink.strDrink"
      class="w-full h-64 object-cover rounded-lg mb-4"
    />
    <p class="text-gray-700 mb-4">{{ selectedDrink.strInstructions }}</p>
    <h3 class="font-semibold mb-2">Ingredientes:</h3>
    <ul class="list-disc list-inside mb-4">
      @for (ingredient of getIngredients(selectedDrink); track ingredient) {
      <li>{{ ingredient }}</li>
      }
    </ul>
    <button
      (click)="closeDetails()"
      class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full"
    >
      Cerrar
    </button>
  </div>
</div>
}
